.listItemWrapper + .listItemWrapper {
  margin-top: 1rem;
}
.listItemWrapper {
  width: 90%;
  margin: 0 auto;
}
.listItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.listItem p {
  font-size: 18px;
}
.listItem p:hover {
  color: var(--blue);
}
