.SliderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.RangeWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.8rem;
}
.slider {
  height: 3px;
  width: 150px;
  background-color: #908f8f;
}

.RangeWrapper p {
  width: 50px;
  text-align: center;
}
