.InputContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.InputContainer > p {
  font-size: 16px;
}
.input {
  width: 130px;
  border-radius: 5px;
  border: 1px solid #908f8f;
  padding: 5px 10px;
  font-size: 14px;
  text-align: center;
  align-self: end;
}
.input:focus {
  outline: none;
}

@media screen and (min-width: 480px) {
  .InputContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .InputContainer > p {
    font-size: 18px;
  }
  .input {
    font-size: 16px;
  }
}
