.selectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.select {
  width: 60px;
  border-radius: 5px;
  border: 1px solid #908f8f;
  padding: 5px 10px;
  font-size: 16px;
}
.select:focus {
  outline: none;
}
.select .option {
  border: 1px solid #908f8f;
  color: pink;
}
