.ShareButtonContainer {
  position: relative;
}
.btn {
  background-color: white;
}
.btn:hover {
  cursor: pointer;
  border: 2px solid var(--blue);
}

.sharePopUp {
  position: absolute;
  top: 82px;
  right: 0;
  width: 260px;
  background-color: white;
  border: 3px solid #3d92e7;
  border-radius: 10px;
  padding: 1.8rem 2rem 1.5rem 2rem;
}
.closeIcon {
  width: 35px;
  height: 35px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.closeIcon:hover {
  cursor: pointer;
}

.shareItem {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.shareItem p {
  font-weight: 500;
  font-size: 18px;
}
.shareItem p:hover {
  color: #3d92e7;
  cursor: pointer;
}
.shareItem .icon:hover {
  cursor: pointer;
}
.shareItem + .shareItem {
  margin-top: 1rem;
}
