.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
}
.listItem:hover {
  cursor: pointer;
}

.listItemImg {
  margin-left: 10px;
}
