.dataTabContainer {
  display: flex;
  flex-direction: column;
}
.chartTitleContainer {
  margin-bottom: 0.5rem;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.chartTitleContainer input {
  margin-left: 1rem;
  padding: 5px 10px;
  width: 300px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
.chartTitleContainer input:focus {
  outline: none;
  border: 1.5px solid #aaa;
}
.tableContainer {
  overflow: scroll;
  border: 1.5px solid #aaa;
}
.tableContainer table {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .dataTabContainer {
    max-height: calc(100vh - 152px);
    overflow-y: auto;
  }
  .tableContainer {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }
}

@media screen and (min-width: 1280px) {
  .dataTabContainer {
    height: calc(100vh - 100px + 80px);
    max-height: calc(100vh - 100px + 80px);
    overflow-y: auto;
  }
  .tableContainer {
    overflow-y: auto;
    max-height: calc(100vh - 300px);
  }
}
