.dataTabContainer {
  display: flex;
  flex-direction: column;
}
.TitleInputContainer {
  margin-bottom: 0.5rem;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TitleInputContainer input {
  margin-left: 1rem;
  padding: 5px 10px;
  width: 300px;
  font-weight: 700;
  text-align: center;
  transition: 0.3s ease-in;
  border: 1.5px solid #bbb;
  margin-right: 0.5rem;
}

.TitleInputContainer input:focus {
  outline: none;
  caret-color: var(--blue);
}
.editIcon {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.editIcon:hover {
  cursor: pointer;
  opacity: 1;
}
.TitleInputContainer input:hover ~ .editIcon {
  opacity: 1;
}
.TitleInputContainer input:focus ~ .editIcon {
  opacity: 1;
}

.tableContainer {
  overflow: scroll;
  border: 1.5px solid #aaa;
}
.tableContainer table {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .dataTabContainer {
    max-height: calc(100vh - 152px);
    overflow-y: auto;
  }
  .tableContainer {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }
}

@media screen and (min-width: 1280px) {
  .dataTabContainer {
    height: calc(100vh - 100px + 80px);
    max-height: calc(100vh - 100px + 80px);
    overflow-y: auto;
  }
  .tableContainer {
    overflow-y: auto;
    max-height: calc(100vh - 300px);
  }
}
