.loginPageContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
}
.displayArea {
  display: none;
}
.formArea {
  width: 85%;
  max-width: 450px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* displayArea */
.picWrapper {
  position: relative;
  width: 80%;
  aspect-ratio: 1.7/1;
  margin: 0 auto;
}
.pic {
  object-fit: contain;
}
.displayTitle {
  font-size: 26px;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-top: 2rem;
}
.displayTitle p:first-child {
  font-weight: 700;
  font-size: 28px;
}
.displayTitle span {
  margin-left: 3rem;
}

/* .formArea  */
.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.title {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 30px;
  font-weight: bold;
  color: #070519;
}
.description {
  margin-top: 0.5rem;
  font-size: 18px;
  font-weight: 380;
  color: #070519;
}
.logInForm {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
}
.logInForm input {
  font-size: 18px;
  font-weight: 380;
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
  color: #5b5b5b;
  font-family: sans-serif;
}
.logInForm input:focus {
  outline: none;
}
.logInForm input + input {
  margin-top: 1rem;
}

.or {
  width: 100%;
  margin-top: 1rem;
  font-size: 18px;
  color: #aaa;
  font-weight: 380;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}
.or::before,
.or::after {
  content: "";
  flex-grow: 1;
  height: 1.5px;
  background-color: #aaa;
}
.or::before {
  margin-right: 1rem;
}
.or::after {
  margin-left: 1rem;
}

.helpZone {
  font-size: 16px;
  text-align: center;
  color: #4c4c4c;
  margin-top: 1rem;
}
.link {
  color: var(--blue);
}
.link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1025px) {
  .formArea {
    padding: 2rem;
    flex-basis: 40%;
    max-width: 40%;
  }
  .formAreaWrapper {
    max-width: 450px;
  }
  .displayArea {
    display: flex;
    flex-grow: 1;
    background-color: #ffb030;
    flex-direction: column;
    justify-content: center;
  }
}
