.selectWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 16px;
  position: relative;
}
.colorBox {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #908f8f;
}
.pickerWrapper {
  position: fixed;
}

@media screen and (min-width: 480px) {
  .selectWrapper {
    font-size: 18px;
  }
}
