.buttonWrapper {
  display: none;
}
.logBTN {
  transition: 0.3s ease-in;
}

.logBTN:hover {
  cursor: pointer;
  background-color: #eee;
}
.signBTN {
  color: white;
  background-color: var(--blue);
  transition: 0.3s ease-in;
}
.signBTN:hover {
  cursor: pointer;
  background-color: #2d78c3;
}
.accountBTN {
  color: var(--blue);
  border: 2px solid var(--blue);
  transition: 0.3s ease-in;
}
.accountBTN:hover {
  cursor: pointer;
  color: white;
  background-color: var(--blue);
  border: 0px;
}
.logoutBTN {
  color: #de3c4b;
  transition: 0.3s ease-in;
}
.logoutBTN:hover {
  background-color: #de3c4b;
  color: white;
}

@media screen and (min-width: 640px) {
  .buttonWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
