@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 72px;
  --dataArea-margin: 1rem;
  --dataArea-padding: 1.6rem;
  --tabMenu-height: 33px;
  --tabMenu-padding: 1.5rem;
  --tabMenu-margin: 1rem;
  --blue: #3d92e7;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Outfit", "Noto Sans TC", sans-serif;
}
