@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
* {
  --blue: #3d92e7;
}
html,
body {
  height: 100%;
}
