.header {
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1.5px solid #3f465e;
  background-color: #0a0e18;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
