.pageContainer {
  height: 100vh;
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
  margin-top: 72px;
  background-color: #dddddd;
}

@media screen and (min-width: 900px) {
  .main {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    margin-left: 80px;
  }
}
