.tabBigItem {
  padding: 1rem;
  font-size: 18px;
}
.tabBigItem + .tabBigItem {
  margin-top: 0.5rem;
}
.tabBigItem .row:hover {
  cursor: pointer;
}
.tabBigItem.itemClicked {
  background-color: #eee;
  border: 1px solid #908f8f;
  border-radius: 10px;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.right {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  transition: transform 0.3s ease-in-out;
}
.arrow.clicked {
  transform: rotate(-180deg);
}
.right p {
  font-size: 18px;
}
.childrenWrapper {
  padding-left: 1rem;
}

@media screen and (min-width: 480px) {
  .childrenWrapper {
    padding-left: calc(30px + 1.5rem);
  }
}
