.dataTabContainer {
  display: flex;
  flex-direction: column;
}
.titleInputContainer {
  margin-bottom: 0.5rem;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleInputContainer input {
  margin-left: 1rem;
  padding: 5px 10px;
  max-width: 500px;
  width: 90%;
  font-weight: 700;
  text-align: center;
  transition: 0.3s ease-in;
  border: 1.5px solid #bbb;
  margin-right: 0.5rem;
}

.titleInputContainer input:focus {
  outline: none;
  caret-color: var(--blue);
}
.editIcon {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.editIcon:hover {
  cursor: pointer;
  opacity: 1;
}
.titleInputContainer input:hover ~ .editIcon {
  opacity: 1;
}
.titleInputContainer input:focus ~ .editIcon {
  opacity: 1;
}
.tableContainer {
  overflow-x: auto;
  border: 1.5px solid #aaa;
  margin-bottom: 1rem;
}
.tableContainer table {
  width: 100%;
}
