.pageContainer {
  min-height: 100vh;
  background-color: white;
  padding-bottom: 2rem;
  padding-top: calc(72px + 2rem);
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.graphTypeList {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-size: 40px;
  }
  .graphTypeList {
    width: 100%;
    max-width: 1200px;
    background-color: #ddf3fd;
    height: 330px;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 1.5rem;
  }
}
