.chartarea {
  min-width: 450px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.chartarea.hideOnMobile {
  display: none;
}
.chart {
  border: 1.5px dotted #aaa;
}
@media screen and (min-width: 900px) {
  .chartarea.hideOnMobile {
    display: flex;
  }
  .chartarea {
    position: fixed;
    right: 0;
    top: 72px;
    width: calc(50% - 1rem);
    height: calc(100vh - 72px);
  }
}
@media screen and (min-width: 1280px) {
  .chartarea {
    width: calc(60% - 54px - 1rem);
  }
}
