.popupContainer {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupBox {
  width: 100vw;
  height: 100vh;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}
.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.closeIcon:hover {
  cursor: pointer;
  border: 2px dotted #ccc;
}

@media screen and (min-width: 640px) {
  .popupBox {
    width: 500px;
    min-height: 250px;
    height: auto;
    border-radius: 10px;
  }
  .popupBox.contentCentered {
    align-items: center;
    justify-content: center;
  }
}
