.sliderContainer {
  margin-top: 1rem;
}
.sliderContainer p {
  font-size: 16px;
}
.rangeWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  margin-top: 0.5rem;
}
.slider {
  height: 3px;
  width: 150px;
}
.rangeWrapper p {
  width: 55px;
  text-align: end;
}

@media screen and (min-width: 480px) {
  .sliderContainer p {
    font-size: 18px;
  }
}

@media screen and (min-width: 640px) {
  .sliderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .rangeWrapper {
    margin-top: 0;
  }
  .slider {
    width: 220px;
  }
}

@media screen and (min-width: 1025px) {
  .slider {
    width: 150px;
  }
}
