.btn {
  position: absolute;
  top: 0.5rem;
  right: 0;
  padding: 10px 15px 10px 20px;
  border-radius: 20px 0 0 20px;
  font-weight: 500;
  font-size: 17px;
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.title {
  display: none;
}
.btn:hover {
  cursor: pointer;
  outline: 3px solid white;
  transform: scale(1.05);
}
.btn:disabled {
  filter: brightness(0.9);
}
.btn:disabled:hover {
  cursor: default;
  outline: none;
  transform: scale(1);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: spin 1s linear infinite;
}

@media screen and (min-width: 768px) {
  .btn {
    gap: 0.5rem;
  }
  .title {
    display: initial;
  }
}
