.btn {
  display: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: white;
  position: relative;
}
.title {
  display: none;
}
.btn:hover {
  cursor: pointer;
  outline: 2px solid white;
}
.btn:disabled {
  filter: brightness(0.9);
}
.btn:disabled:hover {
  cursor: default;
  outline: none;
}
.btn.inSideBar {
  width: 80%;
  display: flex;
  padding: 8px 15px;
  gap: 0.5rem;
  margin: 1rem auto 0 auto;
}
.btn.inSideBar .title {
  display: initial;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: spin 1s linear infinite;
}
@media screen and (min-width: 480px) {
  .btn {
    display: flex;
  }
  .btn.inSideBar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 8px 15px;
    gap: 0.5rem;
  }
  .title {
    display: initial;
  }
}
