.sharePageContainer {
  min-height: 100vh;
  background-color: #1d222f;
  padding-top: calc(72px + 1.5rem);
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.chartWrapper.square {
  aspect-ratio: 1;
  max-width: 550px;
  max-height: 550px;
}
.chartWrapper.rectangle {
  aspect-ratio: 16 / 9;
  max-width: 1000px;
  max-height: 550px;
}

@media screen and (min-width: 480px) {
  .chartWrapper {
    width: 80%;
  }
}
@media screen and (min-width: 640px) {
  .chartWrapper {
    width: 70%;
  }
}

@media screen and (min-width: 1440px) {
  .chartWrapper.square {
    max-width: 800px;
    max-height: 8000px;
  }
  .chartWrapper.rectangle {
    max-width: 1300px;
    max-height: 800px;
  }
}
